body {
  background: linear-gradient(#fdf0d5, #669bbc);
  color: black;
  font-size: 1.2em;
  line-height: 1.5;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0;
  
}

h1 {
    font-size: 100px;
    text-align: center;
}

/*--molten-lava: #780000ff;
--brick-red: #c1121fff;
--papaya-whip: #fdf0d5ff;
--deep-space-blue: #003049ff;
--steel-blue: #669bbcff;
*/

header {
    background-color: #780000;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "Roboto Mono", monospace;
    padding: 0 10px;              
    flex-wrap: wrap;
}

header ul {
    list-style: none;
    margin: 0;
    padding: 10px;
    display: flex; 
    justify-content: right;
    font-family: "Roboto Mono", monospace;
    
}

header a {
    color: white;
    text-decoration: none;
    display: block;
    padding: 20px;
}

header a:hover {
    color: #669bbc;
}

header .title {
    font-size: 200%;
    font-weight: bold;
    padding: 0em;
    padding: 10px 20px;
}

article {
    text-align: center;
    font-size: 20px;
    max-width: 700px;
    margin: 0 auto;
    font-style: italic;
    padding: 0 15px;
}

aside {
    text-align: left;
    font-size: 15px;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

img {
    border-radius: 15px;
    display: block;
    margin: auto;
    width: 100%;                   
    max-width: 700px;
    height: auto;
}

footer {
    text-align: center;
    background-color: #780000;
    color: white;

    padding: 10px;
}

footer a {
    color: white;
    text-decoration: none;
    display: inline-block;
    padding: 20px;
}

footer a:hover {
    color: #669bbc;
}




@media (max-width: 450px) {
    header {
        flex-direction: column;   
        align-items: center;      
        padding: 10px 0;          
    }


    header ul {
        flex-direction: column;   
        align-items: center;
        width: 100%;              
        padding: 0;
    }

    header li {
        width: 100%;              
    }

    header a {
        text-align: center;      
        padding: 12px;           
    }

}