html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: red;
}

header {
  background-color: white;
  width: 100%;
  font-size: 30px;
  text-align: center;
  padding: 20px;
  font-family: "Roboto Mono", monospace;
}

.title {
  font-weight: bold;
}

main {
  width: 1000px;
  min-height: 650px;
  margin: 50px auto;
  background-color: white;
  display: flex;
  gap: 30px;
  padding: 50px;
}

.controls {
  flex: 2;
}


.volume-icon {
  width: 100px;
}

label {
  font-size: 20px;
}

input {
  display: block;
  width: 100%;
  padding: 10px;
  margin: 10px 0 20px 0;
  font-size: 20px;
}

.button {
  display: block;
  color: white;
  background-color: black;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  text-align: center;
  width: 100%;
  font-size: 20px;
}

.lights {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: 20px;
}

.circle {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: red;
  transition: background-color 0.3s ease;
}

.circle.active {
  background-color: green;
}

.results {
  flex: 1;
  font-size: 20px;
  text-align: center;
  line-height: 2;
  background-color: #ebe4e4;
  padding: 25px;
}

.instructions {
  margin-bottom: 30px;
}

.instructions p {
  font-size: 22px;
  color: black;
}

#flip-result {
  font-weight: bold;
}


.icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  margin-bottom: 20px;
}

.accepted-volume {
  font-size: 24px;
  font-weight: bold;
}

.accept-button {
  display: block;
  color: white;
  background-color: darkgreen;
  border-radius: 4px;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  text-align: center;
  width: 100%;
  font-size: 20px;
  margin-top: 20px;
}